# ===================================
# V11.2 한국투자증권 API 설정 예시
# ===================================

# 한국투자증권 발급 APP KEY
APP_KEY=여기에_APP_KEY_입력


# 한국투자증권 발급 APP SECRET
APP_SECRET=여기에_APP_SECRET_입력


# 계좌번호 앞 8자리
ACCOUNT=00000000


# 계좌번호 뒤 2자리
ACCOUNT_CODE=01


# 한국투자증권 API 서버 주소
# 실전투자
BASE_URL=https://openapi.koreainvestment.com:9443


# 모의투자 사용 시
# BASE_URL=https://openapivts.koreainvestment.com:29443
