# 한국투자증권 API

APP_KEY=여기에_APP_KEY

APP_SECRET=여기에_APP_SECRET

# 모의투자
KIS_BASE_URL=https://openapivts.koreainvestment.com:29443

# 실전투자는 아래 사용
# KIS_BASE_URL=https://openapi.koreainvestment.com:9443

PORT=3000
